.f-product{
    display: flex;
    flex-direction: row;
    padding-top: 0%;
    margin-top: 0;
    background-image: linear-gradient(to right, rgb(60, 206, 97) ,rgb(182, 240, 193) );
    /* background-color:linear-gradient(180deg, rgb(76, 189, 153), rgb(141, 229, 201)); */
    color: aliceblue;
   
}
.f-left-first{
    padding: 20px;
    /* margin: 10px; */
    width: 50%;
    text-align: center;
    /* border:2px solid black; */
    padding-bottom: 100px;
    /* background-color: rgb(177, 231, 231); */
    background-color: #302d31;
}

.f-right-first{
    padding: 30px;
    /* margin: 10px; */
    width: 50%;
    height: 100%;

    background-color: #302d31;
    /* background-color: rgb(156, 248, 248); */
    /* border:2px solid black; */
    color: aliceblue;
}

.f-right-second{
    padding: 20px;
    /* margin: 10px; */
    width: 50%;
    text-align: center;
    /* border:2px solid black; */
    padding-bottom: 100px;
    background-color: rgb(2, 119, 87);
    color: aliceblue;

    /* background-color: rgb(177, 231, 231); */
}

.f-left-second{
    padding: 30px;
    /* margin: 10px; */
    width: 50%;
    background-color: rgb(2, 119, 87);

    
    /* background-color: rgb(156, 248, 248); */
    /* border:2px solid black; */
    
}

.head{
    text-align: center;
    text-transform: uppercase;
    text-decoration: double;
}

.f-des{
    text-align: center;
    padding: 20px;
    margin: 20px;
}